node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts


contracts.json
coverage*
deployments/localhost
deployments/*/solcInputs/*.json
dist
src/types
.vscode
.nodn
*.abe*
*.bii
/out
build
.env
.venv
/export
vendor

yarn-error.log
